@font-face {
    font-family: Norse-Bold;
    src: url(attachments/Norse-Bold.otf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


div.container {
    display: flex;
    position: relative;
}

/************ left section *************/

section.background {
    background-image: url("attachments/james-donaldson-toPRrcyAIUY-unsplash.jpg");
    background-size: cover;
    width: 40%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.logo {
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

div.logoImg {
    width: 20%;
}

div.logoImg img {
    width: 100%;
}

h1.logoText {
    font-family: Norse-Bold, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 60px;
}

div.credit {
    position: absolute;
    margin: auto;
    bottom: 15px;
    color: #fff;
}

div.credit a {
    color: #fff;
}

/***************header section******************/

section.formContainer {
    background-color: #f9fafb;
    width: 60%;
    display: flex;
    margin-left: 40%;
    flex-flow: column nowrap;
    /* align-items: center; */
    justify-content: center;
}

div.formHeader {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding-right: 7em;
    padding-bottom: 2em;
    padding: 0 6em 2em 3em;
}

div.formHeader p.lowerP {
    margin-top: 1em;
}

/****************form section*******************/
div.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.formBody {
    background-color: #d3d3d3;
    width: 70%;
    padding: 4rem;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.45);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.formBody h1 {
    margin-bottom: 1em;
}

div.formInput {
    flex-basis: auto;

    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

div.formCell {
    display: flex;
    margin: .5em 1em;
    position: relative;

    flex-direction: column;
    width: 100%;
}

div.formCell label {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.5px;
}


div.formCell input {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    padding: 4px;
    width: 100%;
}

div.nameCell {
    flex-direction: row;
    gap: 10px;
}

div.first,
div.last {
    position: relative;

    display: flex;
    flex-direction: column;
}

div.first input,
div.last input {
    width: 100%;
}


div.formCell input:focus {
    outline: none;
    border: 1px solid #2e5bdb;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}

div.formCell input.error {
    border: 1px solid #d06666;
}


input.error+span.error {
    content: "hello";
    position: absolute;
    left: 5px;
    bottom: -20px;
    color: red;
    font-size: 15px;
}

input.error+span.error.zip {
    font-size: 12px;
}

form button {
    padding: 1em 3em;
    color: white;
    background-color: #11c6d0;
    border-radius: 7px;
    margin: 30px 48px;
}

form button:hover {
    cursor: pointer;
    filter: brightness(90%);
}

div.logIn {
    margin: 0 48px;
}

div.logIn a {
    text-decoration: none;
    color: #11c6d0;
}